<% @favourites.each do |favourite| %>
  <%= link_to favourite.car.model, car_path(favourite.car) %>
  <p><%= favourite.car.brand %></p>
  <p><%= favourite.car.year %></p>
  <p><%= favourite.car.fuel %></p>
  <%= link_to "|Delete",
          favourite_path(favourite),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
<% end %>

<%= link_to "Back to home", cars_path %>
